:root {
  --basic-white: #FFFFFF;
  --basic-blue-light: #81B3D2;
  --basic-blue-medium: #669EC0;
  --basic-blue-dark:#5496BD;
  --basic-black: #000000;
  --basic-gray: #EEEEEE;
  --basic-gray-light: #888888;
  --basic-gray-dark: #766357;
  --basic-gray-hover: #604E43;
  --basic-gray-active: #503E33;
  --basic-white-smoke: #F2F2F2;
  --basik-dim-gray: #666666;
  --basic-black-gray: #333333;
}
.page {
  height: 100%;
}
/* body*/
.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white-smoke);
}
.page a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.clear-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-header {
  position: relative;
}
.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
}
.nav-information,
.nav-fotoandvideo {
  text-align: left;
}
.nav-mapsusa,
.nav-hotel {
  text-align: right;
}
.main-image {
  background: url(../img/background-photo.jpg);
  width: 1200px;
  height: 509px;
}
.welcome-image {
  padding-top:73.5px;
  left: 411.38px;
  top: 132.35px; 
}
.site-navigation {
  display: flex;
  padding:15px 72px;
}
.site-navigation li {
  width: 25%;
}
.site-navigation a {
  color: var(--basic-black);
}
.main-header-logo  {
  position: absolute;
  top: 0;
  left: 50%; 
  transform: translateX(-50%);
}
.center {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}
.main-title{

}
.title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: var(--basic-black);
}
.subtitle {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: var(--basic-black-gray);
  margin-top: 54px;
  margin-bottom: 51px;
}
.cause-list {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.cause-item-realtown {
  width: 100%;
  display: grid;
  grid-template-columns: 400px 800px;
}
.cause-item-realtown-info {
  padding-top: 47px;
}
.cause-item-brightdevil {
  width: 100%;
  display: grid;
  grid-template-columns: 800px 400px;
}
.cause-item-brightdevil-info {
  padding-top: 50px;
}
.cause-item-realtown,
.cause-item-brightdevil {
  color: var(--basic-white);
  background-color: var(--basic-blue-light);
}

.cause-item-realtown h3,
.cause-item-brightdevil h3 {
  font-size: 21px;
  line-height: 21px;
}
.cause-item-realtown span,
.cause-item-brightdevil span,
.cause-item-realtown p,
.cause-item-brightdevil p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
.house {
  padding-top: 60px;
  padding-bottom: 82px;
}
.food {
  padding-top: 61px;
  padding-bottom: 82px;
}
.souvenir {
  padding-top: 52px;
  padding-bottom: 81px;
}
.cause-item-benefits {
  width: 33.333%;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}
.cause-item h3,
.cause-item-benefits h4 {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}
.cause-item-benefits p,
.cause-item span,
.cause-item p {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-black-gray);
  font-weight: 400;
}
.cause-item {
  width: 33.333%;
  background-color: var(--basic-gray);
  padding-top: 47px;
  padding-bottom: 54px;
}
/* search */
.search h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  color: var(--basic-black);
  padding-top: 58px;
}
.search p {
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-black);
  font-weight: 400px;
}
/* button */
.button {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}
.button-search {
  background-color: var(--basic-gray-dark);
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-white);
  width: 568px;
  height: 86px;

}
.button-search:hover {
  background-color: var(--basic-gray-hover);
}
.button-search:active {
  background-color: var(--basic-gray-active);
  color: rgba(255,255,255,0.3);
}

/*page-footer*/
.page-footer {
  color: var(--basic-black);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.footer-contacts {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 23px;
  padding-bottom: 36px;
}
.footer-contacts span {
  width: 100%;
}
.footer-phone {
  color: inherit;
}

/* social-button */

.social-button {
  color: inherit;
  background-color: var(--basic-blue-light);
  width: 46px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.social-button:hover {
 background-color: var(--basic-blue-medium);
}
.social-button:active {
  background-color: var(--basic-blue-dark);
}
.social-button:active img { 
  opacity: 0.3; 
}
.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  padding-top: 36px;
  justify-content: center;
}
.footer-social-list li {
  margin-right: 8px;
}
.footer-social-list li:nth-child(3n) {
  margin-right: 0;
}
/*footer-copyright*/
.footer-copyright {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
.footer-copyright p {
  padding-right: 8px;
}
.button-copyright:hover {
  background-color: var(--basic-white);
 }
.button-copyright:hover img{
  color: var(--basic-blue-light);
}

.button-copyright:active img { 
  background-color:rgba(189,187,188,1;);
}
/*type-hous*/
.type-hous {
  background: url(../img/background-hotels.jpg);
  width: 1200px;
  height: 217px;
  left: 40px;
  top: 56px;
  }
/*.searching-results*/
.searching-results {
  display: flex;
  flex-wrap: wrap;
}

.searching-results h1{
  font-weight: : 700;
  font-size: 21px;
  line-height: 26px;
  margin-right: 46px;
  padding-top: 29px;
  padding-left: 73px;
  padding-bottom: 31px;
}
.searching-results h2{
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin-right: 40px;
  padding-top: 31px;
  padding-bottom: 37px
}
.breadcrumbs {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  display: flex;
  padding-top: 32px;
  width: 238px;
  justify-content: space-between;
}
.searching-results-cost {
  color: var(--basic-blue-light);
}
.searching-results-type,
.searching-results-raiting {
  color: var(--basic-black);
  opacity: 0.3;
}
.up-down a {
  margin-right: 12px;
}
.hotels-title {
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}
.hotels-list p {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-black-gray);
}
.hotels-btn {
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}
.hotels-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;

}
.hotels-list span {
  background-image: url(../img/star.svg); 
  background-repeat: repeat-x;
  width: 300px; 
}
.reservation {
  background-color: var(--basic-gray-dark);
} 
.details {
  background-color: var(--basic-blue-light);
}
.hotels-rating {
  background-color: var(--basic-white-smoke);
  color: var(--basik-dim-gray);
}
.hotels-name {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

