:root {
  --basic-white: #FFFFFF;
  --basic-blue: #81B3D2;
  --basic-black: #000000;
  --basic-gray: #EEEEEE;
  --basic-gray-light: #888888;
  --basic-gray-dark: #766357;
  --basic-white-smoke: #F2F2F2;
  --basik-dim-gray: #666666;
  --basic-black-gray: #333333;
}
/* body*/
body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white-smoke);
}
.page a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.clear-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
.main-image {
  background: url(../img/background-photo.jpg);
  width: 1200px;
  height: 509px;
  left: 40px;
  top: 55px;
}
.site-navigation {
  background-color: var(--basic-white);
}
.site-navigation a {
  color: var(--basic-black);
}
/*cause*/
.cause {
  background-color: var(--basic-white);
}
.title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: var(--basic-black);
}
.subtitle {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: var(--basic-black-gray);
}
.cause-list {
  text-align: center;
  text-transform: uppercase;
}
.cause-item-realtown-brightdevil {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}
.cause-item-realtown-brightdevil h3 {
  font-size: 21px;
  line-height: 21px;
}

.cause-item-realtown-brightdevil span,
.cause-item-realtown-brightdevil p {
  font-size: 14px;
  line-height: 21px;
}
.cause-item h3,
.cause-item-benefits h4 {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}
.cause-item span,
.cause-item p {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-black-gray);
}
.cause-item {
  background-color: var(--basic-gray);
}
/* search */
.search {
  background-color: var(--basic-white);
}
.search h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  color: var(--basic-black);
}
.search p {
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-black);
}
/* button */
.button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(----basic-gray-dark);
  border: none;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-white);  
}
.button:hover,
.button:focus,
.button:active {
  background-color: var(--basic-gray-dark);
}
/*page-footer*/
.page-footer {
  color: var(--basic-blackblack);
  background-color: var(--basic-white);
  background-repeat: repeat;
}
.footer-contacts {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px; 
}
.footer-phone {
  color: inherit;
}
/*type-hous*/
.type-hous {
  background: url(../img/background-hotels.jpg);
  width: 1200px;
  height: 217px;
  left: 40px;
  top: 56px;
}
/* social-button */

.social-button {
  color: inherit;
  background-color: var(--basic-blue);
  width: 46px;
  height: 48px;
}
/*footer-copyright*/
.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
}
/*.searching-results*/
.searching-results {
  background-color: var(--basic-white);
}
.searching-results strong {
  font-weight: : 700;
  font-size: 21px;
  line-height: 26px;
}
.searching-results h2,
.searching-results a {
  font-size: 12px;
  line-height: 18px;
}
.searching-results-cost {
  color: var(--basic-blue);
}
.searching-results-type,
.searching-results-raiting {
  color: var(--basic-black);
  opacity: 0.3;
}
.hotels-list {
  background-color: var(--basic-white);
}
.hotels-list-item-hotelname {
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}
.hotels-list p {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-black-gray);
}
.hotels-list-item-link {
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}
.reservation {
  background-color: var(--basic-gray-dark);
}
.details {
  background-color: var(--basic-blue);
}
.hotels-list-item-rating {
  background-color: var(--basic-white-smoke);
  color: var(--basik-dim-gray);
}